name: ci

on:
  workflow_dispatch:

jobs:
  tests:
    name: Tests
    runs-on: runs-on=${{ github.run_id }}/runner=2cpu-linux-x64

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: Which go
        run: go version
